# Week 2 - Class 2

This notebook have a recap of python concepts needed throughout the course

# 1. Mathematical Operations

## Q1

In [ ]:
print("Divide 30 by 6 and sum 5", <your-answer>)

## Q2 Variables and printing

In [ ]:
# Find 3 different ways of printing

# https://miro.com/online-whiteboard/board/gkcMdWcBfa2HKfMfoougfwogUQQ6qdxo/

In [ ]:
my_name = 'Zed A. Shaw'
my_age = 35 
my_height = 74 # inches

## 1.3 Assignment of variables

In [ ]:
first, second = 'Grace', 'Hopper'
third, fourth = second, first
# replace by the variables to have the result: Hopper Grace
print(fourth,third )

## Q4 Data types

In [ ]:
planet = 'Earth'
apples = 5
distance = 10.5

#add a new cell (Esc+B) and print each variable data type
# hint: https://stackoverflow.com/questions/402504/how-to-determine-a-python-variables-type

# 2. Array Data

## Q5

In [ ]:
#Search on a search engine how to 'show an image on jupyter notebook'
#you have the image file in this directory: 'data/IMG1_W2.jpg'
#hint: https://stackoverflow.com/questions/11854847/how-can-i-display-an-image-from-a-file-in-jupyter-notebook

## Q6

In [ ]:
# loading some data from numpy package
# This command will give an error: How to solve that mistake? what is missing? 

data = np.loadtxt(fname='data/inflammation-01.csv', delimiter=',')

In [ ]:
# print the data type if data

## Q7

In [ ]:
# print the data dimensions
# hint: you need to know your question, and the data type of what you are dealing 
# https://stackoverflow.com/questions/3061761/numpy-array-dimensions

In [ ]:
print('first value in data:', <your-answer>)

In [ ]:
print('middle value in data:', <your-answer>)

In [ ]:
print('First 5 rows and first 5 columns', <your-answer>)

In [ ]:

maxval, minval, stdval = <your-answer>, <your-answer>, <your-answer>

print('maximum inflammation:', maxval)
print('minimum inflammation:', minval)
print('standard deviation:', stdval)

In [ ]:
# Print mean of rows, print the shape
<your-answer>

In [ ]:
# Print mean of columns, print the shape
<your-answer>

In [ ]:
# Show the image 'IMG2_W2.jpg' here
Image(filename='data/IMG1_W2.jpg')

In [ ]:
element = 'oxygen'
#solution
print('first three characters:', <your-answer>)
print('last three characters:', <your-answer>)

## Q8

In [ ]:
# plot the column average (next cell) of data
#run this cell first
import matplotlib.pyplot as plt

In [ ]:
<your-answer>

# 3. Python Lists

Unlike NumPy arrays, lists are built into the language so we do not have to load a library to use them. We create a list by putting values inside square brackets and separating the values with commas:

In [ ]:
odds = [1, 3, 5, 7]
print('odds are:', odds)

In [ ]:
len(odds)

In [ ]:
odds.shape

In [ ]:
odds.dim

In [ ]:
print('first element:', <your-answer>)
print('last element:', <your-answer>)
print('"vorletzte" element:',  <your-answer>)

In [ ]:
names = ['Curie', 'Darwing', 'Turing']  # typo in Darwin's name
print('names is originally:', names)
# Change (assign) the second name on names list to 'Darwin' 
 <your-answer>

## 3.1 Mutable and imutable

Be careful when modifying data in-place. If two variables refer to the same list, and you modify the list value, it will change for both variables!

In [ ]:
salsa = ['peppers', 'onions', 'cilantro', 'tomatoes']
my_salsa = salsa        # <-- my_salsa and salsa point to the *same* list data in memory
salsa[0] = 'hot peppers'
print('Ingredients in my salsa:', my_salsa)

If you want variables with mutable values to be independent, you must make a copy of the value when you assign it.

In [ ]:
salsa = ['peppers', 'onions', 'cilantro', 'tomatoes']
my_salsa = list(salsa)        # <-- makes a *copy* of the list
salsa[0] = 'hot peppers'
print('Ingredients in my salsa:', my_salsa)

## 3.2 Nested Lists

In [ ]:
x = [['pepper', 'zucchini', 'onion'],
     ['cabbage', 'lettuce', 'garlic'],
     ['apple', 'pear', 'banana']]

In [ ]:
print(x[0])

In [ ]:
print(x[0][0])

In [ ]:
x

In [ ]:
#Print lettuce

## 3.3 Add list items

In [ ]:
# Add an element at the end
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [ ]:
# Add an element at a given position: add orange in the second position
# search: "add element in lost at a given position python" and choose the stackoverflow link
thislist = ["apple", "banana", "cherry"]
thislist.insert(1,'orange')
print(thislist)

In [ ]:
# Remove the last element of a list
thislist.pop()
thislist

In [ ]:
# Remove the first element of a list
thislist.pop(0)
thislist

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

## Q9

In [ ]:
#print the first and last character for each element in the list thislist

thislist = ["apple", "banana", "cherry"]

 <your-answer>

# 4. Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets

### Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

### Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

### Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

### Allow Duplicates
Since tuples are indexed, they can have items with the same value

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
# how to change tuples?
thistuple = ("apple", "banana", "cherry")
y = list(thistuple) #make it a list, do transformations, and change again to tupple
y.append("orange")
thistuple = tuple(y)

In [ ]:
thistuple

# 5. Sets

Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
# Define two sets
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

# Find the difference between set a and set b
diff_a_b = a.difference(b)
diff_b_a = b.difference(a)

# Alternatively, you can use the - operator
diff_a_b_alt = a - b
diff_b_a_alt = b - a

# 6. Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

In [ ]:
thisdict.get("model")

In [ ]:
thisdict.keys()

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [ ]:
#print 2011
<your-answer>

# 7. For Loops

In [ ]:
odds = [1, 3, 5, 7]
print(odds[0])
print(odds[1])
print(odds[2])
print(odds[3])

In [ ]:
Image(filename='data/IMG3_W2.jpg')

In [ ]:
#For cycle/loop
for num in odds:
    print(num)

In [ ]:
#Print the square value for each of the elements in odds array
for n in odds:
    print(n*n)

The glob library contains a function, also called glob, that finds files and directories whose names match a pattern. We provide those patterns as strings: the character * matches zero or more characters, while ? matches any one character. We can use this to get the names of all the CSV files in the current directory:

In [ ]:
import glob

In [ ]:
print(glob.glob('data/inflammation*.csv'))

## Q10

In [ ]:
#this peace of code has some errors due to package names defined in this notebook
#correct the package names and run it

filenames = sorted(glob.glob('data/inflammation*.csv'))

for filename in filenames:
    print(filename)

    data = np.loadtxt(fname=filename, delimiter=',')

    fig = plt.figure(figsize=(10.0, 3.0))

    axes1 = fig.add_subplot(1, 3, 1)
    axes2 = fig.add_subplot(1, 3, 2)
    axes3 = fig.add_subplot(1, 3, 3)

    axes1.set_ylabel('average')
    axes1.plot(np.mean(data, axis=0))

    axes2.set_ylabel('max')
    axes2.plot(np.max(data, axis=0))

    axes3.set_ylabel('min')
    axes3.plot(np.min(data, axis=0))

    fig.tight_layout()
    plt.show()

# 8. Conditionals: if statement

We can ask Python to take different actions, depending on a condition, with an if statement:

In [ ]:
num = 37
if num > 100:
    print('greater')
else:
    print('not greater')
print('done')

The second line of this code uses the keyword if to tell Python that we want to make a choice. If the test that follows the if statement is true, the body of the if (i.e., the set of lines indented underneath it) is executed, and “greater” is printed. If the test is false, the body of the else is executed instead, and “not greater” is printed. Only one or the other is ever executed before continuing on with program execution to print “done”:

In [ ]:
Image(filename='data/IMG4_W2.jpg')

In [ ]:
num = -3

if num>0 :
    print(num, 'is positive')
elif num==0 :
    print(num, 'is zero')
else:
    print(num, 'is negative')

## Q11

Your solution should:

loop over the names of the files
figure out which group each filename belongs in
append the filename to that list
In the end the three lists should be:

large_files = ['inflammation-01.csv', 'inflammation-02.csv']

small_files = ['small-01.csv', 'small-02.csv']

other_files = ['myscript.py']

In [ ]:
filenames = ['inflammation-01.csv',
         'myscript.py',
         'inflammation-02.csv',
         'small-01.csv',
         'small-02.csv']
large_files = []
small_files = []
other_files = []

In [ ]:
<your-answer>

# 9. List comprehension

In [ ]:
# For loops in lists
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

#create a newlist with the fruits with 'a' in their name
for f in fruits:
    if 'a' in f:
        newlist.append(f)

print(newlist)

In [ ]:
# Faster way to do it with list comprehension:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

newlist = [expression for item in iterable if condition == True]

In [ ]:
[x for x in fruits if x != "apple"]

In [ ]:
[x for x in fruits]

In [ ]:
[x for x in range(10)]

In [ ]:
[x for x in range(10) if x < 5]

In [ ]:
[x.upper() for x in fruits]

In [ ]:
['hello' for x in fruits]

In [ ]:
#more than one expression
[x if x != "banana" else "orange" for x in fruits]

In [ ]:
[x  for x in fruits if x != "banana" else "orange"]

## Q12

In [ ]:
# How do you flatten a nested list?
#hint: https://stackoverflow.com/questions/20112776/how-do-i-flatten-a-list-of-lists-nested-lists
xd = [['pepper', 'zucchini', 'onion'],
     ['cabbage', 'lettuce', 'garlic'],
     ['apple', 'pear', 'banana']]
#do the simpler version first

## Q13

In [ ]:
# create this matrix:
# [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

# Nested list comprehension

 
print(matrix)

# 10. Functions

The function definition opens with the keyword def followed by the name of the function (fahr_to_celsius) and a parenthesized list of parameter names (temp). The body of the function — the statements that are executed when it runs — is indented below the definition line. The body concludes with a return keyword followed by the return value.

When we call the function, the values we pass to it are assigned to those variables so that we can use them inside the function. Inside the function, we use a return statement to send a result back to whoever asked for it

In [ ]:
def fahr_to_celsius(temp):
    return ((temp - 32) * (5/9))

## Q14

Write a function rescale that takes an array as input and returns a corresponding array of values scaled to lie in the range 0.0 to 1.0. (Hint: If L and H are the lowest and highest values in the original array, then the replacement for a value v should be (v-L) / (H-L).)

In [ ]:

def rescale(input_array):
    """Takes an array as input, and returns a corresponding array scaled so
    that 0 corresponds to the minimum and 1 to the maximum value of the input array.

    Examples:
    >>> rescale(numpy.arange(10.0))
    array([ 0.        ,  0.11111111,  0.22222222,  0.33333333,  0.44444444,
           0.55555556,  0.66666667,  0.77777778,  0.88888889,  1.        ])
    >>> rescale(numpy.linspace(0, 100, 5))
    array([ 0.  ,  0.25,  0.5 ,  0.75,  1.  ])
    """
    <your-answer>
    
    return x_new

In [ ]:
#np.arange(10.0)
import numpy as np

In [ ]:
rescale(matrix)

In [ ]:
help(rescale)

## 10.1 Print versus return

In [ ]:
def add(a, b):
    print(a + b)

In [ ]:
A = add(7, 3)
print(A)

In [ ]:
def add2(a, b):
    return a + b

In [ ]:
A = add2(7, 3)
print(A)

## 10.2 Code structure

In [ ]:
def visualize(filename):

    data = np.loadtxt(fname=filename, delimiter=',')

    fig = plt.figure(figsize=(10.0, 3.0))

    axes1 = fig.add_subplot(1, 3, 1)
    axes2 = fig.add_subplot(1, 3, 2)
    axes3 = fig.add_subplot(1, 3, 3)

    axes1.set_ylabel('average')
    axes1.plot(np.mean(data, axis=0))

    axes2.set_ylabel('max')
    axes2.plot(np.max(data, axis=0))

    axes3.set_ylabel('min')
    axes3.plot(np.min(data, axis=0))

    fig.tight_layout()
    plt.show()

In [ ]:
filenames = sorted(glob.glob('data/inflammation*.csv'))

for filename in filenames[:3]:
    print(filename)
    visualize(filename)

## Q15

In [ ]:
# Put the function visualize inside a file utils.py
# restart the notebook
# import the file 
# use the function in this notebook without defining it

<your-answer>

# 15. Modules

In [ ]:
#build the mymodule.py file for this to work:
import mymodule

mymodule.greeting("Jonathan")